table {
    thead {
        tr {
            td {
                font-size: .size(22px) [];
                color: @font-gray;
                background: @white;
                position: sticky;
                top: 0;
            }

            td:nth-child(1) {
                padding: .size(30px) [] 0 .size(20px) [] .size(30px) [];
                width: .size(385px)[];
            }

            td:nth-child(2) {
                width: .size(310px)[];
            }

            td:nth-child(3) {
                width: .size(245px)[];
            }

            td:nth-child(4) {
                width: .size(230px)[];
            }

            td:nth-child(5) {
                width: .size(240px)[];
            }

            td:nth-child(6) {
                width: .size(150px)[];
            }
        }
    }
    tbody {
        tr {
            td {
                font-size: .size(20px) [];
            }

            td:nth-child(1) {
                padding: .size(30px) [] 0 .size(20px) [] .size(30px) [];
                width: .size(385px)[];
                a{
                    color:@metrix-link;
                }
            }

            td:nth-child(2) {
                width: .size(310px)[];
            }

            td:nth-child(3) {
                width: .size(245px)[];
            }

            td:nth-child(4) {
                width: .size(230px)[];
            }

            td:nth-child(5) {
                width: .size(240px)[];
            }

            td:nth-child(6) {
                width: .size(150px)[];
            }
        }
    }
}

.animation {
    width: 100%;
    height: 450px;
    background: @white;
    text-align: center;
    .loader {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dot {
      width: 12px;
      height: 12px;
      background: @metrix-blue;
      border-radius: 100%;
      margin-left: 10px;
      animation: slide 1s infinite;
    }
    .dot:nth-child(1) {
      animation-delay: 0.1s;
    }
    .dot:nth-child(2) {
      animation-delay: 0.2s;
    }
    .dot:nth-child(3) {
      animation-delay: 0.3s;
    }
    .dot:nth-child(4) {
      animation-delay: 0.4s;
    }
    .dot:nth-child(5) {
      animation-delay: 0.5s;
    }
  
    @keyframes slide {
      0% {
        transform: scale(1);
      }
      50% {
        opacity: 0.3;
        transform: scale(2);
      }
      100% {
        transform: scale(1);
      }
    }
}