@import '../../styles/main.less';

.panel-main {
    width: 100%;
    background: @white;
    border-radius: 4px;

    .panel-title {
        display: flex;
        align-items: center;
        border-bottom: 1.5px solid @panel-gray;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: .9rem 1.5rem .9rem .9rem;

        .logo {
            display: flex;
            -webkit-box-align: center;
            align-items: center;

            .icon-global {
                height: 22.5px;
                width: 22.5px;
                display: block;
                background: url('~assets/images/ae4081b.png') no-repeat;
                background-size: 100% 100%;
            }

            .icon-block {
                height: 22.5px;
                width: 22.5px;
                display: block;
                background: url('~assets/images/e325e12.png') no-repeat;
                background-size: 100% 100%;
            }

            .icon-deal {
                height: 22.5px;
                width: 22.5px;
                display: block;
                background: url('~assets/images/081eac0.png') no-repeat;
                background-size: 100% 100%;
            }

            span {
                padding: 0 0 0 9px;
                font-size: 15px;
                display: block;
            }
        }

        .select {
            margin-left: 9px;

            ul {
                display: flex;
                font-size: 13.5px;

                li {
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    padding: 1.5px 12px;
                    height: 25.5px;
                    border: 1px solid @select-blue;
                    cursor: pointer;
                    a {
                        color: @font-gray;
                    }
                }

                li:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                li:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                .active {
                    background: @select-blue;
                    a {
                        color: @white;
                    }
                }

                .border {
                    border-left: hidden;
                }
            }
        }

        .expand {
            color: @metrix-blue;
            font-size: 13.5px;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            height: 22.5px;
            width: 78.75px;
            border: 1px solid @metrix-blue;
            border-radius: 18px;
            transition: all .2s;
            cursor: pointer;
        }

        .expand:hover {
            background: @metrix-blue;
            color: @white;
        }

        .link {
            color: @metrix-blue;
            font-size: 13.5px;
            display: flex;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            height: 22.5px;
            width: 63.75px;
            border: 1px solid @metrix-blue;
            border-radius: 15px;
            -webkit-transition: all .2s;
            transition: all .2s;

            .arrow {
                height: 22.5px;
                width: 11.25px;
                display: block;
                padding-left: 5px;
                background: url('~assets/images/arrow.png') no-repeat center
            }     
        }

        .link:hover {
            background: @metrix-blue;
            color: @white;
        }

        .star {
            height: 26.25px;
            border: 1px solid @white;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            font-size: 12px;
            cursor: pointer;
            color: #8d9fae;

            p {
                padding: 0 6px;
            }

            .icon {
                cursor: pointer;
                display: block;
                margin-left: 6px;
                height: 15px;
                width: 15px;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAYAAADwMZRfAAACDklEQVQ4T42TQWgTQRSG/zcreikoCIKHosSKuBtQQRC9tOJBsNDurihIgwcRzEQQT/aYeKlI1F7aHRNEiqIoYiYFQaQFPXjzZLu7EbzkpnjyolXSzJNUVkKbjZ3r/79v3vzvDaHP8VQ8B2APgZ/VpFNJs1Ka4AaxS8TTAvANQw8MrDqPLx760cufDlHRAsBP6jI756qoSEw/dcEubxpyVoWnDVDUMnuiU+RX4t1seFFLx+kL8YOlDLAlY2AyRDTBTNP1gl1PinwVPWJwDKBJLJoWm+aLq9mvHZ384NMYU/sWQNuZ+YMQHLYNNeYLztPuW13V2Eswl8E4DKJBgAcB+qilfZK8IHpIgt7U8vbzfpPqpfkqKrEl3pKrYilgTq20tk28vrb/92ZB4zPRMWHxJP9qXVqbjq/C2wxxBNia03Lo2/9AXtAYhjCzBnx+Pp+N/43YD8LrTHRBEOVe5u3PaSA/CMdY0FQCWAu22+yp+B7DLHV2Iw3iqbBGLIJawV5MPOsg4XuGlavLg83UTZ5dLgkhvnR/g/WdfNfS3tEvE1/FHpM5rvPZGxs6OfcgHFpt0V0tnfGO6M00dpJl7jAwwuCbyRPdyvI+MlZZS9vfAPGqjWG0zaSWzhlPxVUAo8ymDLLqAqbYDfNU/E5Le6R3JvejV2CMMlDaJVamqleOthJjZ2P/wugACEWdtxcS7Q8O7ebQdK2mnwAAAABJRU5ErkJggg==) no-repeat;
                background-size: contain;
            }
        }

        .star:hover .icon {
            cursor: pointer;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABXUlEQVQ4T6XSvUrDUBQH8P+5VmhJih+QYONWlzbioi9QwU10keLgC7g4OehQaBcHxcHVJxCKk1+ToA+guNTEOgRclLYgStoi0uRII9VW0tDgXe/5/+45917CPxcF5e2qniWXJ+UJ86BfXV+gUUsnALphhkYkliSldOaHBAB6nhmFdogIp5JiLA8MtE9npufuALeEHtdK5l/kpwNvXlCSmZMkkARjoaeYcMkuLCKyGGzZrdi5pt02PaBe1YsAsiEf5E5WjVkPsCt6gQj5MAADxbhqrP6OEAIhwqGkGOveBXefOlgnvCur5nYn1wO8Pc2MRWLOa9Aon/bH6PiU9e4LNCvTKy7xcRDgOLw4kjAvfIF6Td8HYzMIINCOpN7n/IFq+gqgTHuTGScM2mPm1hBhA4S17xBfy6o57wvYL6kMhMgMC+coqpTL3Z00aqk5ZrEVITcXVR4efYEw/6BT+wUqt3wRnw51AwAAAABJRU5ErkJggg==) no-repeat;
            background-size: contain
        }

        .starred {
            height: 26.25px;
            border: 1px solid @white;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            font-size: 12px;
            cursor: pointer;
            color: #8d9fae;

            p {
                padding: 0 6px;
            }

            .icon {
                display: block;
                margin-left: 6px;
                height: 15px;
                width: 15px;
                cursor: pointer;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABXUlEQVQ4T6XSvUrDUBQH8P+5VmhJih+QYONWlzbioi9QwU10keLgC7g4OehQaBcHxcHVJxCKk1+ToA+guNTEOgRclLYgStoi0uRII9VW0tDgXe/5/+45917CPxcF5e2qniWXJ+UJ86BfXV+gUUsnALphhkYkliSldOaHBAB6nhmFdogIp5JiLA8MtE9npufuALeEHtdK5l/kpwNvXlCSmZMkkARjoaeYcMkuLCKyGGzZrdi5pt02PaBe1YsAsiEf5E5WjVkPsCt6gQj5MAADxbhqrP6OEAIhwqGkGOveBXefOlgnvCur5nYn1wO8Pc2MRWLOa9Aon/bH6PiU9e4LNCvTKy7xcRDgOLw4kjAvfIF6Td8HYzMIINCOpN7n/IFq+gqgTHuTGScM2mPm1hBhA4S17xBfy6o57wvYL6kMhMgMC+coqpTL3Z00aqk5ZrEVITcXVR4efYEw/6BT+wUqt3wRnw51AwAAAABJRU5ErkJggg==) no-repeat;
                background-size: contain
            }
        }
    }
}
.margin {
    margin-bottom: 8.25rem;
}

@media only screen and (max-width: 1024px) {
    .panel-main {
        .panel-title {
            .logo {
                i {
                    display: none!important;
                }
                span {
                    margin: 0;
                }
            }
            .expand {
                display: none;
            }
        }
    }
}