.size(@data) {
    @result: (@data * 0.75);
}

.bg(@x: 0, @y, @color: transparent) {
    background: url('/assets/images/sprites.png') @x @y no-repeat @color; 
}

.container {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

    .errorPage {
      width: 100%;
      height: 600px;
      background: #fff;
      justify-content: center;
      flex-direction: column;
      margin-top: 30px;
      margin-bottom: 30px;

      .nopage-img {
          width: 330px;
          height: 136px;
          background: url(/dist/img/e46e90f.png) no-repeat;
          margin-bottom: 20px;
      }

      .nodata-img {
          width: 372px;
          height: 284px;
          background: url(/dist/img/41811ce.png) no-repeat;
          background-size: 100% 100%;
          margin-bottom: 20px
      }

      .error-info {
          font-size: 16px;
          margin: 20px 0
      }
  }
}

@media only screen and (max-width: 1024px) {
  body, html {
    font-size:75%;
  }

  .container {
    width: 100%;
  }
}

.mrx-link {
    position: relative;
    color: @metrix-link;
}

.monospace {
    font-family: menlo,monaco,monospace,sans-serif
}

.symbol {
    word-break: normal!important
}

.break-word {
    word-break: break-all
}

.animation {
    width: 100%;
    height: 450px;
    background: @white;
    text-align: center;
    .loader {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dot {
      width: 12px;
      height: 12px;
      background: @metrix-blue;
      border-radius: 100%;
      margin-left: 10px;
      animation: slide 1s infinite;
    }
    .dot:nth-child(1) {
      animation-delay: 0.1s;
    }
    .dot:nth-child(2) {
      animation-delay: 0.2s;
    }
    .dot:nth-child(3) {
      animation-delay: 0.3s;
    }
    .dot:nth-child(4) {
      animation-delay: 0.4s;
    }
    .dot:nth-child(5) {
      animation-delay: 0.5s;
    }
  
    @keyframes slide {
      0% {
        transform: scale(1);
      }
      50% {
        opacity: 0.3;
        transform: scale(2);
      }
      100% {
        transform: scale(1);
      }
    }
  }