.address-info {
    display: flex;
    align-items: center;

    .border {
        border-right: 1px solid @font-gray;
        border-style: dashed;
        padding-right: 2rem;
    }

    .list {
        padding: 2.5rem 0 2.5rem 1.75rem;

        ul {
            li {
                display: flex;
                justify-content: space-between;
                font-size: .8rem;
                padding: .45rem 0;

                .item-title {
                    color: @font-gray;
                }
            }
        }
    }

    .list:first-child {
        width: 45%;
    }
    .list:nth-child(2){
        width: 49%;
    }
}

.address-detail {
    margin-top: .size(10px)[];
}

.address-item {
    position: relative
}

@media only screen and (max-width: 1024px) {

    .address-info {
        display: block;
        padding: 1rem;

        .border {
            padding-right: 0;
        }

        .list {
            width: 100%!important;
            padding: 0;

            ul {
                border: none;

                li {
                    padding: .5rem 0;
                }
            }
        }
    }
}