.address-info {
    display: flex;
    align-items: center;

    .border {
        border-right: 1px solid @font-gray;
        border-style: dashed;
        padding-right: 2rem;
    }

    .list {
        padding: 2.5rem 0 2.75rem 1.75rem;

        ul {
            li {
                display: flex;
                justify-content: space-between;
                font-size: .9rem;
                padding: 0.45rem 2rem 0.45rem 0;
                height: 1.25rem;
                width: 100%;

                .item-title {
                    color: @font-gray;
                }

                .item-info {
                    word-break: break-all
                }

                .value {
                    max-width: 60%;
                    line-height: 1.2;
                    text-align: right
                }

                .token-name {
                    height: 1.5rem;
                    width: 1.5rem;
                    float: left;
                    position: relative;
                    top: -.25rem;
                    margin-right: .4rem;
                    background-size: 100% 100%;
                }

                .token-ade0d0851168114b103d1cd891506ba562b19522 {
                    background-image: url(~assets/images/tokens/mrxt.png);
                }
            }
        }
    }

    .list:first-child {
        width: 45%
    }

    .list:nth-child(2){
        width: 49%;
    }

}

.deal-detail {
    margin-top: .size(10px)[];
    width: 100%;
}

@media only screen and (max-width: 1024px) {

    .address-info {
        display: block;
        padding: 1rem;

        .border {
            padding-right: 0;
        }

        .list {
            width: 100%!important;
            padding: 0;

            ul {
                border: none;

                li {
                    padding: .5rem 0;
                }
            }
        }
    }
}